#splitter-sidebar {
  background-color: #2a3745;
  background-image: none; }
  #splitter-sidebar .plugin_pagetree li a,
  #splitter-sidebar .plugin_pagetree ul {
    color: #c7d3e1; }
  #splitter-sidebar .plugin_pagetree .plugin_pagetree_current a {
    color: white;
    border-bottom: 1px dotted white; }
    #splitter-sidebar .plugin_pagetree .plugin_pagetree_current a:hover {
      text-decoration: none; }
  #splitter-sidebar h3 {
    border-bottom: 1px dotted #c7d3e1;
    color: white;
    font-size: 1.3em;
    font-weight: normal;
    margin: 0.7em 10px 0.8em;
    padding: 0 0 0.25em; }

#children-section-title .children-show-hide {
  /*display: none;*/
  display: inline-block;
  margin-bottom: 0.7em; }
  #children-section-title .children-show-hide a, #children-section-title .children-show-hide a:hover, #children-section-title .children-show-hide a:visited {
    color: #333333;
    text-decoration: none; }
  #children-section-title .children-show-hide a:hover {
    text-decoration: underline; }
  #children-section-title .children-show-hide:after {
    content: "...";
    display: inline-block;
    margin-left: -0.2em; }

#page-children {
  margin-bottom: 3em; }

.discussion,
.comment-thread {
  background-color: #fcfcfc;
  border-top: 10px solid #d2d2d2;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  margin-bottom: 1.6em;
  padding: 3em 2em; }

.comment-thread .comment-thread {
  background-color: white; }

.discussion.tuts-discussion {
  border-top-color: #82b541; }

#splitter-content .comment-thread {
  border-top-width: 5px; }
  #splitter-content .comment-thread .comment-thread {
    border-top-width: 2px; }
#splitter-content .comment {
  border-top: none; }

.panel,
#content .panel {
  background-color: #fff8c7; }

.blogpost .twoColumns .cell.aside {
  padding: 0 0 0 3.5em; }

.blog-item {
  overflow: hidden;
  position: relative; }

.blog-title {
  font-size: 0.65rem;
  padding: 0;
  text-transform: uppercase; }
  .blog-title a {
    font-size: 1rem;
    left: 0;
    position: relative;
    text-transform: none; }

.blog-post-list .blog-item-space,
.blog-post-list .blog-item-creator,
.blog-post-list .blog-item-date {
  float: left;
  font-size: 0.65rem;
  margin-left: 0; }
.blog-post-list .blog-item-creator {
  font-style: italic; }
.blog-post-list .blog-item-space,
.blog-post-list .blog-item-date {
  margin-left: 0.5em;
  text-transform: uppercase; }
.blog-post-list .blog-item-date:after {
  content: "in";
  display: inline-block;
  font-style: italic;
  text-transform: lowercase; }
.blog-post-list li.blog-item {
  border-bottom-style: dotted;
  padding-bottom: 1em; }
  .blog-post-list li.blog-item .blog-title {
    float: none; }
.blog-post-list h4.sub-heading {
  border-bottom-style: dotted;
  font-size: 1.1rem;
  font-weight: normal;
  margin-top: 1em;
  padding-bottom: 0.3em;
  padding-left: 0.25em; }

.icon-blog {
  display: none; }
